body {
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    margin-right: 200px;
    margin-left: 200px;
}

header {
    display: flex;
    height: 150px;
    background-color: aqua;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.info {
    align-items: center;
    margin: 15px;
    margin-right: 150px;
}

.logo img {
    height: 150px;
}

.ufps img {
    height: 100px;
    margin: 25px;
    margin-right: 70px;
}

.menu {
    list-style: none;
    padding: 0%;
    background-color: crimson;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: antiquewhite;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;

}

.menu li a:hover {
    background: rgb(230, 122, 122);
}

.biografia {
    display: flex;
    height: 390px;
    background-color: bisque;
    justify-content: space-between;
}

.nate img {
    height: 300px;
    margin-left: 250px;
    margin-top: 10%;
}

.sobremi {
    width: 300px;
    font-size: 20px;
    margin-right: 250px;
    margin-top: 70px;
}

.sobremi li a {
    text-decoration: none;
    padding: 150px;
    display: flexbox;
}

.academia {
    display:center;
    height: 390px;
    background-color: rgb(229, 192, 243);
    justify-content: center;
}

.colcastro{
   display:inline;
}
.colcastro img {
    height: 300px;
}

.sena{
    display: inline;
}
.sena img {
    height: 300px;
}

.univ{
    display: inline;
}
.univ img {
    height: 300px;
}

.experiencia{
    display:flex;
    height: 570px;
    background-color: rgb(243, 242, 191);
    justify-content: center;
}

.contacto{
    display:flex;
    height: 100px;
    background-color: rgb(198, 224, 241);
    justify-content: center;
}


@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width:900px;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
    animation-iteration-count:infinite;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slides:hover .slide {
	animation-play-state: running;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name:none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 900px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}

    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #a3c3e4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #050505;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #4f6c7e;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

}
